
body {
    background: none repeat scroll 0 0 #cb3e7a;
}
html {
    height: 100%;
    width: 100%;
}
h1, h2, h3, h4, h5, h6 {
    color: white;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
    margin: 0 0 35px;
    text-transform: uppercase;
}
p {
    color: white;
    font-size: 18px;
    font-weight: 200;
    line-height: 1.5;
    margin: 0 0 25px;
}
@media (min-width: 767px) {
    p {
        font-size: 20px;
        letter-spacing: 0.8px;
        line-height: 1.6;
        margin: 0 0 35px;
    }
}
a {
    color: #564F82;
    transition: all 0.2s ease-in-out 0s;
}
a:hover, a:focus {
    color: #11505d;
    text-decoration: none;
}
.light {
    font-weight: 400;
}
.navbar-custom {
    background-color: #000;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    margin-bottom: 0;
    text-transform: uppercase;
}
.navbar-custom .navbar-brand {
    font-weight: 700;
}
.navbar-custom .navbar-brand:focus {
    outline: 0 none;
}
.navbar-custom .navbar-brand .navbar-toggle {
    color: #fff;
    font-size: 16px;
    padding: 4px 6px;
}
.navbar-custom .navbar-brand .navbar-toggle:focus, .navbar-custom .navbar-brand .navbar-toggle:active {
    outline: 0 none;
}
.navbar-custom a {
    color: #fff;
}
.navbar-custom .nav li.active {
    background-color: rgba(55, 73, 121, 1);
    border-radius: 5px;
}
.navbar-custom .nav li a {
    transition: background 0.3s ease-in-out 0s;
}
.navbar-custom .nav li a:hover, .navbar-custom .nav li a:focus, .navbar-custom .nav li a.active {
    background-color: rgba(55, 73, 121, 1);
    outline: 0 none;
}
@media (min-width: 767px) {
    .navbar {
        background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
        border-bottom: 0 none;
        letter-spacing: 1px;
        padding: 20px 0;
        transition: background 0.5s ease-in-out 0s, padding 0.5s ease-in-out 0s;
    }
    .top-nav-collapse {
        background-color: #2b3457;
        padding: 0;
    }
    .navbar-custom.top-nav-collapse {
        border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    }
}
.intro {
    background: url("../img/paris-bg.jpg") no-repeat scroll center top / cover #000;
    color: #fff;
    display: table;
    height: auto;
    padding: 100px 0;
    text-align: center;
    width: 100%;
}
.app {
    background: url("../img/screen-home-app2.png") no-repeat scroll center top / cover rgba(0, 0, 0, 0);
    color: #fff;
    display: table;
    height: 600px;
    padding: 100px 0;
    text-align: center;
    width: 100%;
}
.intro .intro-body {
    display: table-cell;
    vertical-align: middle;
}
.intro .intro-body .brand-heading {
    font-size: 40px;
    padding: 100px 0 0;
}
.intro .intro-body .intro-text {
    font-size: 18px;
}
@media (min-width: 767px) {
    .intro {
        height: 100%;
    }
    .intro .intro-body .brand-heading {
        font-size: 60px;
    }
    .intro .intro-body .intro-text {
        font-size: 25px;
    }
}
.btn-circle {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 2px solid #fff;
    border-radius: 35px;
    color: #fff;
    font-size: 40px;
    height: 70px;
    margin-top: 15px;
    padding: 7px 16px;
    transition: background 0.3s ease-in-out 0s;
    width: 70px;
}
.btn-circle:hover, .btn-circle:focus {
    background: none repeat scroll 0 0 rgba(255, 255, 255, 0.1);
    color: #fff;
    outline: 0 none;
}
.btn-circle i.animated {
    transition-duration: 1s;
    transition-property: -moz-transform;
}
.btn-circle:hover i.animated {
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-name: pulse;
    animation-timing-function: linear;
}
@keyframes pulse {
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}
.content-section {
    padding-top: 100px;
}
.download-section {
    background: url("../img/museum-bg.jpg") no-repeat scroll center center / cover #000;
    color: #fff;
    padding: 50px 0;
    width: 100%;
}
#map {
    height: 200px;
    margin-top: 100px;
    width: 100%;
}
@media (min-width: 767px) {
    .content-section {
    }
    .download-section {
        padding: 100px 0;
    }
    #map {
        height: 400px;
        margin-top: 250px;
    }
}
.btn {
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    transition: all 0.3s ease-in-out 0s;
}
.btn-default {
    background-color: transparent;
    border: 1px solid #19bec0;
    color: #219ab3;
}
.btn-default:hover, .btn-default:focus {
    background-color: #19bec0;
    border: 1px solid #19bec0;
    color: #000;
    outline: 0 none;
}
ul.banner-social-buttons {
    margin-top: 0;
}
@media (max-width: 1199px) {
    ul.banner-social-buttons {
        margin-top: 15px;
    }
}
@media (max-width: 767px) {
    ul.banner-social-buttons li {
        display: block;
        margin-bottom: 20px;
        padding: 0;
    }
    ul.banner-social-buttons li:last-child {
        margin-bottom: 0;
    }
}
footer {
    padding: 50px 0;
}
footer p {
    color: #fcfcfc;
    font-size: 1em;
    margin: 0;
}
.first_btn {
    background-color: #19bec0;
    color: #fff;
    cursor: pointer;
    display: block;
    margin: 60px auto 0;
    width: 230px;
}
.last_btn {
    border: 1px solid #efefef;
    color: #efefef;
    cursor: pointer;
    display: block;
    margin: 60px auto 0;
    width: 230px;
}
.last_btn:hover {
    background-color: #fff;
    border: 1px solid #219ab3;
    color: #000;
    outline: 0 none;
}
#mc_embed_signup {
    display: block;
    margin: 40px auto 0;
    width: auto;
}
.img-brand-app {
    background: url("../img/rendez-vous-logo-app.png") repeat scroll 0 0 / contain rgba(0, 0, 0, 0);
    display: block;
    height: 60px;
    position: relative;
    top: -21px;
    width: 60px;
}
.navbar-fixed-top {
    height: 87px;
    padding-top: 19px;
}
.navbar-fixed-top.navbar-nav {
    position: relative;
    top: 20px;
}
#mc_embed_signup {
    height: 60px;
    overflow: visible;
    position: relative;
    width: 100%;
}
.form-control {
    height: 60px;
    left: 0;
    padding: 10px 20px;
    position: absolute;
    top: 0;
    width: 90%;
}
#mc-embedded-subscribe {
    padding: 17px 45px;
    position: absolute;
    right: 0;
    top: -59px;
    width: inherit;
}
#mc-embedded-subscribe:hover{
    color: white;
    background: rgb(71, 222, 203);
}

.first_btn {
    padding: 17px 25px !important;
    background-color: #2356A1;
    color: #fff;
    cursor: pointer;
    display: block;
    margin: 60px auto 0;
    width: 230px;
    border: none;
}
.wrap-team{
    width: 25%;
    padding: 2%;
    height: 260px;
    float: left;
    text-align: center !important;
    margin-bottom: 40px;
}
.wrap-team h3{
    text-align: center;
    width: initial;
    font-size: 15px;
    text-transform: inherit;
    margin-bottom: 2px;
}

.linkedin-icon{
    width: 35px;
    height: 35px;
    background: red;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.wrap-team p{
    font-size:14px;
    margin-bottom: 10px;
}
.wrap-team img{
    margin-bottom:20px;
    width: 135px;
    height: 135Px;
    border-radius: 100%;
}
.section-team{
    background: rgb(67, 90, 213);
    width: 100%;
    padding: 100px 9%;
}
.fa-linkedin:before {
    content: "\f0e1";
    color: white;
    font-size: 20px;
    border: 1px solid rgba(255, 255, 255, 0.29);
    padding: 10px;
    position: relative;
    top: 10px;
    left: -10px;
}
.wrap-team-last{
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    float: none;
}

@media screen and (max-width: 980px) {
    .form-control {
        width: 70%;
    }
    .wrap-team {
        width: 50%;
    }

    .section-team {
        padding-bottom: 335Px;
    }

    .download-section {
        padding-bottom: 151px;
    }


    .app {
        position: relative;

        margin-top: 150px;
    }
}
@media screen and (max-width: 760px) {
    .form-control {
        width: 100%;
    }
    #mc-embedded-subscribe {
        position: relative;

        top: 42px;
    }



}
